<nav class="navbar box-shadow app-header" [class.fixed-top]="settings.theme.navbarIsFixed" [class.logo-visible]="showInfoContent">
    <div class="d-flex flex-column w-100">
        <div id="info-content" class="panel-collapse collapse">
            <a class="close" data-toggle="collapse" href="#info-content" (click)="showInfoContent = !showInfoContent" [class.show]="showInfoContent">
                <span aria-hidden="true">&times;</span>
            </a>
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="row py-4">                        
                        <div class="col-lg-7 col-sm-8 col-12 left-border">
                            <div class="info w-280p mx-auto text-center">
                                <form>
                                    <div class="form-group">
                                        <label>Por favor, describa brevemente su consulta: *</label>
                                        <textarea name="consulta" formControlName="consulta" id="cons" #cons rows="7" class="form-control tm-f-bugt" [ngClass]="{ 'is-invalid': submitted && f.consulta.errors }"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Prioridad</label>
                                        <select class="form-control tm-f-bugt" id="prioridad" name="prioridad" formControlName="prioridad"> 
                                            <option  value="baja">baja</option>
                                            <option  value="media">media</option>
                                            <option  value="alta">alta</option>
                                        </select>
            
                                    </div>
                                    <div *ngIf="submitted && f.consulta.errors" class="invalid-feedback">
                                        <div *ngIf="f.consulta.errors.required">no puede dejar este campo vacio</div>
                                    </div>
                                    <button type="submit" class="btn btn-sm btn-gray"  (click)="mandarMensaje()"><i class="fa fa-paper-plane mr-2"></i>Enviar</button>
                                </form>
                            </div>                           
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-start align-items-center top-navbar">                  
            
            <!-- Logo en menú horizontal-------------------------------------------- -->
            <a class="logo" (click)="closeSubMenus()">
                <img class="img-fluid" src="assets/img/app/LOGOAPP.png" alt="Santa Fe Sistemas">
            </a>

            <span class="navbar-text menu-icon transition ml-3 mr-3" [ngClass]="{'open': settings.theme.showMenu}"
                (click)="settings.theme.showMenu = !settings.theme.showMenu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </span>

            <div class="ml-2 mr-2 d-none d-sm-block">
                 <a id="info-content-icon" data-toggle="collapse" href="#info-content" (click)="showInfoContent = !showInfoContent" class="d-flex" [class.show]="showInfoContent">
                    <div [@showInfo]="showInfoContent" class="triangle"></div>
                </a>
            </div>



            <div class="top-rigth-icons ml-auto d-flex">
                <span class="d-none d-sm-inline-block">
                    <app-fullscreen></app-fullscreen>
                </span> 
                <span class="d-none d-sm-inline-block">
                    <!-- <app-applications></app-applications>                     -->
                </span> 
                <span class="d-none d-sm-inline-block">
                    <app-messages></app-messages>
                </span>               
                <span class="d-none d-sm-inline-block pl-2 pr-2" (click)="settings.theme.showSideChat = !settings.theme.showSideChat">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                </span> 
                <span *ngIf="!settings.theme.showMenu || !mobile || tablet">
                    <div style="color: #fff; margin: 0 10px 0 10px;"><i class="fa fa-user"></i> {{usuario.username}}</div>
                    <!-- <app-user-menu></app-user-menu> -->
                </span> 
                <span class="pl-2 pr-2">
                        <i class="fa fa-sign-out" (click)="salir()" aria-hidden="true"></i>
                </span> 
            </div> 

        </div>

        <div class="horizontal-menu-outer" *ngIf="settings.theme.menu == 'horizontal'">                   
            <app-horizontal-menu *ngIf="showHorizontalMenu"  [menuItems]="menuItems"></app-horizontal-menu>        
            <app-vertical-menu *ngIf="!showHorizontalMenu"  [menuItems]="menuItems"></app-vertical-menu>
        </div>

    </div>
</nav>