<div class="modal-header">
    <h6 class="modal-title">{{ title }}</h6>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">

    <div *ngIf="!finderTabular.modoMetodo" class="card border-0 box-shadow">
        <div widget class="card border-0 box-shadow">

            <div class="card-header transparent border-0 text-muted">
                <div class="widget-controls">Filtros
                    <a *ngIf="se_expande" data-widgster="expand" (click)="seExpande()" [ngStyle]="{'cursor':'pointer'}" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a *ngIf="se_colapsa" data-widgster="collapse" (click)="seColapsa()" [ngStyle]="{'cursor':'pointer'}" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <!-- <a data-widgster="restore" class="transition"><i class="fa fa-compress"></i></a> -->
                </div>
            </div>
            <div class="card-body widget-body" *ngIf="se_expande && !se_colapsa">

                <div class="row d-flex align-items-center">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="text" class="form-control" name="busqueda" id="find" #find [(ngModel)]="finderTabular.busqueda" name="busqueda" placeholder="Texto a buscar" (keydown.enter)="buscar($event)">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <select class="form-control" id="campoFinder" [(ngModel)]="finderTabular.campoBusqueda">
                                    <option *ngFor="let campo of comboFinder"  [ngValue]="campo">{{campo.label}}</option> 
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-info" (click)="buscar()">Buscar</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-warning" (click)="sinSeleccion()">Sin seleccion</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-12" style="text-align: center; color: #8f8f8f; padding: 0; margin-bottom: 15px;" *ngIf="data.length == 0">
         No se ha encontrado ningún registro con esa búsqueda
    </div>
    <div widget class="card border-0 box-shadow" *ngIf="data.length > 0">
        <div class="card-header transparent border-0 text-muted"> 
            <span>*Doble click para seleccionar</span>
            <div class="widget-controls">Registros
                <a *ngIf="se_expande_dos" data-widgster="expand" (click)="seExpandeDos()" [ngStyle]="{'cursor':'pointer'}" class="transition"><i class="fa fa-chevron-down"></i></a>
                <a *ngIf="se_colapsa_dos" data-widgster="collapse" (click)="seColapsaDos()" [ngStyle]="{'cursor':'pointer'}" class="transition"><i class="fa fa-chevron-up"></i></a>
            </div>
        </div>
        <div class="card-body pt-0 widget-body" *ngIf="se_expande_dos && !se_colapsa_dos">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-responsive border mt-4">
                    <thead>
                        <tr>
                            <th>
                                
                            </th>
                            <th [ngStyle]="!col.visible ? {'display':'none'}:{'display':'','cursor':'pointer'}" *ngFor="let col of column; let io = index">
                                {{col.title}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let fil of data | slice: (pagination.page-1) * pagination.cantidadRegistrosxPagina : (pagination.page-1) * pagination.cantidadRegistrosxPagina + pagination.cantidadRegistrosxPagina">
                        <td>
                            <i class="ti-check text-success m-r-10 pointer"></i> 
                         </td> 
                        <td [ngStyle]="!col.visible ? {'display':'none'}:{'display':'', 'cursor':'pointer'}" (click)="onRowSelect(fil)"
                            *ngFor="let col of column; index as i">
                            {{fil[col.name]}}
    
                        </td>
    
                    </tr>
                </tbody>
                </table>
                    <ngb-pagination [(page)]="pagination.page" *ngIf="pagination.activa" directionLinks="true"
                    [pageSize]="pagination.cantidadRegistrosxPagina" [boundaryLinks]="false" [maxSize]="10"(pageChange)="loadPage($event)"
                    [collectionSize]="data.length"></ngb-pagination>
                    <select name="noRegistroMostrar" id="noRegistroMostrar" class="custom-select" style="width: auto" (click)="muestraCantidadPorPaginayPagina(pagination.page,$event)" >
                        <option value="10 ">10</option> 
                        <option value="20 ">20</option> 
                        <option value="25 ">25</option> 
                        <option value="50 ">50</option> 
                    </select>
    


            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="decline()">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="accept()">Aceptar</button>
</div>