.animationload {
    background-color: #fff;
    height: 10%;
    left: 50%;
    position: fixed;
    top: 50%;
    width: 10%;
    z-index: 10000;
}

.osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: #fed37f none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}

.scroll {
    max-height: 100px;
    overflow-y: auto;
}

.osahanloading::after {
    animation: 1.5s linear 0s normal none infinite running osahanloading_after;
    border-color: #85d6de transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 80px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 80px;
}

@keyframes osahanloading {
    0% {
        transform: rotate(0deg);
    }

    50% {
        background: #85d6de none repeat scroll 0 0;
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.buttons{
    div{
        display: flex;
        app-button-cancel{
            order:1;
        }
        app-button{
            order: 2;
        }
    }
    
}
.btn-list-row {
    display: grid;
    grid-template-columns: 1fr;
}
.configContainer{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    position: fixed;
    max-width: 400px;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    z-index: 9999;
    .configHeader{
        padding: 10px 15px 10px 15px;
        border: 1px solid #3333333a;
        background-color: #333;
        border-radius: 8px 8px 0 0;
        color: #fff;
        .btn-selectAll{
            height: 20px;
            font-size: 12px;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            span {
                text-align: center;
                display: flex;
                position: relative;
                top: -5px;
                margin: auto;
            }
        }

    }
    .configBody{
        height: 50vh;
        overflow: auto;
        .field{
            cursor: pointer;
            align-items: center;
            text-align: center;
            border: 0.5px solid #3333333a;
            gap: 10px;
            font-size: 15px;
            font-weight: 500;
            height: 35px;
            padding: 0 15px 0 15px;
            .fld-i{
                user-select: none;
                pointer-events: none;
            }
            &:hover{
                 background-color: #bebebe18;
                 border-color: #023cb98e;
            }
        }
    }
    .configFooter{
        justify-content: end;
        align-items: center;
        gap: 10px;
        border-radius: 0 0 8px 8px;
        border: 1px solid #3333333a;
        padding: 5px 15px 5px 15px;
        background-color: #333;
    }
}