

@media screen and (max-width:600px){
    .dropup,
    .dropright,
    .dropdown,
    .dropleft {
      position: static;
    }
}
.dropdown.show .dropdown-menu {
    max-height: 70vh !important;
}
#messagesDropDown {
    .a-head{
        display: flex;
        position: relative;
    }
    .dropdown-menu {
        width: 312px;
    }
    .dropdown-menu-mobile{
        right: 0;
        left: 0;
        margin: auto;
        width: 90vw;
    }
    .notifica-head{
        display: flex;
        position: absolute;
        color: #fff;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        font-size: 12px;
        top: -4px;
        right: -4px;
        background: rgba(255, 0, 0, 0.521);
    }
    .leido{
        background: transparent;
    }
    .msj-no-leidos{
        background: rgba(8, 43, 77, 0.082);
    }
    .nav-link {
        color: #a6a6a6;
        border: 0;
        border-radius: 0;
        border-bottom: 4px solid transparent;
        &:hover {
            background-color: #f5f5f5;
        }
    }
    .tab-content {
        height: 250px;
        border: 0;
        border-top: 1px solid #ccc;
        .tab-pane {
            padding: 0;
            .list {
                a {
                    float: left;
                    width: 100%;
                    display: block;
                    padding: 10px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    &:hover {
                        background: #f5f5f5;
                    }
                    h3,
                    h2 {
                        padding: 0;
                        margin: 0 0 4px 0;
                        color: #666666;
                    }
                    h3 {
                        width: 100%;
                        font-size: 18px;
                    }
                    h2 {
                        font-size: 14px;
                    }
                }
                span {
                    font-size: 10px;
                }
                .meeting-day {
                    width: 46px;
                    height: 42px;
                    border-radius: 4px;
                    color: #fff;
                    text-align: center;
                    margin-right: 5px;
                    span {
                        font-size: 13px;
                        display: block;
                        font-style: italic;
                    }
                }
                .list-content {
                    width: 100%;
                    h2{
                        display: flex;
                        justify-content: space-between;
                    }
                }
                img {
                    float: left;
                    width: 45px;
                    margin-right: 10px;
                    border-radius: 50%;
                }
                p {
                    color: #7d7d7d;
                    font-size: 11px;
                    margin: 0;
                }
            }
            .inner-clearfix {
                .nav-link-input {
                    display: flex;
                    padding: 0 10px;
                    padding-left: 5px;
                    border: none;
                    max-height: 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3s ease-out;
                    .input-clearfix {
                        height: 35px;
                        min-height: 35px;
                        width: 100%;
                        border-radius: 4px 0 0 4px;
                        border: 1px solid #ced4da;
                        padding: 5px 10px;
                        resize: vertical;
                        &:focus,
                        :active {
                            border: 1px solid #ced4da;
                            outline: none;
                        }
                    }
                    button {
                        display: flex;
                        border-radius: 0 4px 4px 0;
                        border: none;
                        padding: 10px;
                        height: 35px;
                        color: #fff;
                        width: auto;
                        align-items: center;
                        justify-content: center;
                        background-color: #26a69a;
                        font-size: 13px;
                        font-weight: 500;
                        gap: 5px;
                        i {
                            font-size: 13px;
                        }

                        &:focus,
                        :active {
                            border: none;
                            outline: none;
                        }
                    }
                }
                .show-input {
                    max-height: 500px;
                    opacity: 1;
                    visibility: visible;
                    transition: all 0.3s ease-out;
                }
            }
        }
    }
}