<div id="messagesDropDown" [ngClass]="(EMS.esMobileNoTablet()) ? 'drop-mobile d-inline-block' : 'dropdown d-inline-block'">
    <a class="dropdown-toggle no-caret pl-2 pr-2" id="messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
    </a>

    <div  [ngClass]="(EMS.esMobileNoTablet()) ? 'dropdown-menu drop-mobile dropdown-menu-mobile rounded-0 p-0 box-shadow':'dropdown-menu dropdown-menu-right rounded-0 p-0 mt-3 box-shadow'" aria-labelledby="messages">    
        <div class="clearfix">            
            <ul id="messagesTabs" class="nav nav-tabs nav-justified border-0">
                <li class="nav-item">
                    <a class="nav-link active transition" data-toggle="tab" href="#comments"><i class="fa fa-comment-o" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link transition" data-toggle="tab" href="#meetings"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                </li>       
                <li class="nav-item">
                    <a class="nav-link transition" data-toggle="tab" href="#userOnline">{{usuariosOn.length}} <i class="fa fa-user-o" aria-hidden="true"></i></a>
                </li>                                          
            </ul>
        </div>
        <ng-scrollbar pointerEventsMethod="scrollbar" style="height: 250px"> 
            <div class="tab-content">
                <div class="tab-pane active" id="comments">
                    <div class="list">
                        <ng-container *ngFor="let mens of messages | sortByNum : 'time'">
                            <a (click)="abrirChat(mens.idSession)" class="transition" *ngIf="!mens.enviado">
                                <div class="list-content">
                                    <h2>{{mens.name}} </h2>
                                    <p>{{acortarText(mens.text)}}</p>
                                    <span><i class="fa fa-clock-o"></i> Recibido hace {{mens.time}} min</span>
                                </div>
                            </a>
                        </ng-container>
                        
                    </div> 
                </div>
                <div class="tab-pane" id="meetings">
                    <div class="list">
                        <a *ngFor="let meeting of meetings" href="javascript:void(0);" class="transition">
                            <!-- <div class="meeting-day bg-{{meeting.color}} pull-left">
                                <span>{{meeting.day}}</span>
                                <span>{{meeting.month}}</span>
                            </div>                    -->
                            <div class="list-content">
                                <h2>{{meeting.title}}</h2>
                                <p>{{meeting.text}}</p>
                            </div>
                        </a>
                    </div> 
                </div>
                <div class="tab-pane" id="userOnline">
                        <div class="clearfix inner-clearfix">            
                            <ul id="messagesTabs-input" class="nav nav-tabs nav-justified border-0" >
                                <li class="nav-item">
                                    <a class="nav-link transition" style="user-select: none;" (click)="clickClassEvent();setListaUsuariosOriginal()"><i class="fa fa-plus" style="margin-right: 5px;"></i>Abrir nuevo chat</a>
                                    <a [class.show-input]="toggleClassInput" class="nav-link nav-link-input transition" (keydown.enter)="abrirChat(getIdSessionByName(userSearch)); clickClassEvent()"><input #buscarNombre [(ngModel)]="userSearch" class="input-clearfix" type="text"><button (click)="abrirChat(getIdSessionByName(userSearch)); clickClassEvent()"><i class="fa fa-search"></i></button></a>
                                </li>                                    
                            </ul>
                        </div>
                    <div class="list">
                        <a *ngFor="let user of usuariosOn | sortByAbecedario : 'name'" (click)="abrirChat(user.idSession)" class="transition">
                            <h3><i class="fa fa-user"></i> {{user.name}}</h3>
                        </a>
                    </div>
                </div>
            </div> 
        </ng-scrollbar>
    
    </div>
</div>