@import "../styles/skins/_dark.scss";

$padd: 0.5vw 1vw;
:host ::ng-deep .Chat {
    margin-top: 5vw;
}
.contenedor {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: $padd;
    .header {
        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: -0.5vw -1vw;
            margin-bottom: 1vw;
            padding: $padd;
            background-color: $sidebar-bg-color;
            color: #fff;
            text-align: center;
            h2 {
                user-select: none;
            }
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 25px;
                z-index: 999999;
                &:hover {
                    cursor: pointer;
                }
            }
            .options-square {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                height: 100%;
                i {
                    // padding-top: 3px;
                    font-size: 25px;
                }
            }
        }

        .opcionesMenu {
            display: flex;
            position: absolute;
            background-color: #505050;
            width: 170px;
            max-height: 0;
            opacity: 0;
            visibility: hidden;
            border-radius: 10px 0 10px 10px;
            right: 70px;
            top: 30px;
            z-index: 999999999;
            transition: all 0.3s ease-out;
            overflow: hidden;
            user-select: none;
            ul {
                width: 100%;
                li {
                    list-style: none;
                    width: 100%;
                    color: #fff;
                    padding: 15px;
                    &:hover {
                        background-color: #8a8989;
                        cursor: pointer;
                    }
                    &:active {
                        scale: 0.99;
                    }
                }
            }
        }
        .show-menu-chat {
            max-height: 500px;
            opacity: 1;
            visibility: visible;
            transition: all 0.3s ease-out;
        }
    }
    .contenedorHistorial {
        display: flex;
        flex-direction: column-reverse;
        height: 70vh;
        overflow-y: auto;
        gap: 15px;
        @mixin mens() {
            display: flex;
            position: relative;
            flex-direction: column;
            min-width: 5vw;
            max-width: 85%;
            padding: 15px;
            margin: 0 15px;
            // padding-bottom: 1.2vw;
            margin-bottom: 15px;
            color: #333;
            h3 {
                width: auto;
                font-size: 1vw;
            }
            p {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0 1vw;
            }
            span {
                font-size: 10px;
                color: #666666;
                position: absolute;
                top: 65%;
            }
        }
        .mensRecibido {
            @include mens();
            background: #0ab1f32f;
            -webkit-border-radius: 15px;
            -webkit-border-top-left-radius: 0;
            -moz-border-radius: 15px;
            -moz-border-radius-topleft: 0;
            border-radius: 15px;
            border-top-left-radius: 0;
            align-self: flex-start;

            span {
                right: -60px;
            }
            .span-mobile {
                top: 101%;
                right: 0;
            }
        }
        .mensEnviado {
            @include mens();
            background: #01b7ff5b;
            -webkit-border-radius: 15px;
            -webkit-border-bottom-right-radius: 0;
            -moz-border-radius: 15px;
            -moz-border-radius-bottomright: 0;
            border-radius: 15px;
            border-bottom-right-radius: 0;
            align-self: flex-end;

            span {
                left: -60px;
            }
            .span-mobile {
                top: 101%;
                left: 0;
            }
        }
    }
    .chatEnviar {
        display: flex;
        margin: 1vw 0;
        width: 100%;
        input {
            height: 35px;
            min-height: 35px;
            width: 100%;
            border-radius: 4px 0 0 4px;
            border: 1px solid #ced4da;
            padding: 5px 10px;
            resize: vertical;
            outline: none;
            &:focus,
            :active {
                border: 1px solid #ced4da;
                outline: none;
            }
        }
        button {
            display: flex;
            border-radius: 0 4px 4px 0;
            border: none;
            padding: 10px;
            height: 35px;
            color: #fff;
            min-width: 10vw;
            align-items: center;
            justify-content: center;
            background-color: #26a69a;
            font-size: 15px;
            font-weight: 500;
            gap: 5px;
            i {
                font-size: 15px;
            }

            &:focus,
            :active {
                border: none;
                outline: none;
            }
            &:active {
                font-size: 14px;
            }
        }
    }
}
