<div class="contenedor">
    <div class="header">
        <div class="head">
            <h2>Chat con {{nombre}}</h2> <div class="options-square"><span (click)="abrirMenuChat()"><i class="fa fa-gear"></i></span><span (click)="cerrarChat()"><i class="fa fa-times"></i></span></div>
        </div>
        <div class="opcionesMenu" [class.show-menu-chat]="toggleMenuChat">
            <ul>
                <li (click)="eliminarHistorialChat()">Eliminar historial</li>
                <li>Enviar archivo ¿?</li>
                <li>Otras opciones</li>
            </ul>
        </div>
    </div>

    <div class="contenedorHistorial" (click)="cerrarMenuChat()">
        <ng-container *ngFor="let mensajes of messages | sortByNum:'time'">

            <div class="mensRecibido" *ngIf="mensajes.idSession === idSession && !mensajes.enviado">
                <!-- <h3>{{mensajes.name}}</h3> -->
                <p>{{mensajes.text}}</p>
                <span>Hace {{mensajes.time}} min</span>
            </div>
            <div class="mensEnviado" *ngIf="mensajes.idSession === idSession && mensajes.enviado">
                <!-- <h3>{{mensajes.name}}</h3> -->
                <p>{{mensajes.text}}</p>
                <span>Hace {{mensajes.time}} min</span>
            </div>
        </ng-container>
    </div>
    <div class="chatEnviar" (click)="cerrarMenuChat()">
        <input type="text" [(ngModel)]="msj" (keydown.enter)="enviarMsj(msj)">
        <button (click)="enviarMsj(msj)"><i class="fa fa-send"></i>Enviar</button>
    </div>
</div>