.cl-d-pag-tab {}

.pagination {
    margin-left: 0%;
}

.table td {
    line-height: 0.5 !important;
}

.cl_section {
    height: 500px;
}

.table-cont {
    max-height: auto;
    overflow: auto;
    font-size: 100%;
    height: 75%;
}

.clflex {
    display: flex;
    font-weight: bold;
}

.clflexSegundo {
    display: flex;
}

.cldib1 {
    padding: 15px
}

.cldib2 {
    padding: 15px
}

tbody {
    overflow: auto;
}

.table-cont tr td {
    white-space: nowrap;
}

th,
td {
    width: 0;
    white-space: nowrap;
}

tfoot {
    background: #f9f9f9;
    width: 100%;
    font-weight: bold;
}

.table thead th {
    vertical-align: top;
    border-top: 0.5px;
}

.table th {
    vertical-align: inherit;
    border-top: 1px solid #dee2e6;
}

.table td {
    vertical-align: inherit;
    border-top: 1px solid #dee2e6;
}

#idTh1 {}

.cl-hijo-celda {
    cursor: pointer;
}

/*Altura de la tabla del tabular dependiendo del tipo de dispositivo = 280px */
.h-tab-abm {
    height: 280px;
}

.cl-de-15-margen {
    margin-left: -15px;
}

.tm-f-16 {}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .cl-de-15-margen {
        margin-left: 0px;
    }

    .tm-f-16 {
        font-size: 16px;
    }

    .cl-d-pag-tab {
        padding-left: 0% !important;
        overflow-x: auto;
        flex-flow: column;
    }

    .pagination {
        margin-left: 1px;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .tm-f-16 {
        font-size: 16px;
        word-break: break-all;
    }
}
.wid100{
    display: flex;
    width: 100%;
    padding: 0;
}
.grid-r-1fr{
    display: grid;
    grid-template-rows: 1fr;
}