<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        </div>
    </div>
    <div class="card-body widget-body">

        <div class="row d-flex align-items-center">
            <div class="col-sm-4">
                <div class="form-group">
                    <input #idTextBusqueda type="text" class="form-control" name="busqueda" id="inputFirstName" [(ngModel)]="finderTabular.busqueda" name="busqueda" placeholder="Texto a buscar">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select class="form-control" id="campoFinder" [(ngModel)]="finderTabular.campoBusqueda">
                            <option *ngFor="let campo of campos"  [ngValue]="campo">{{campo.label}}</option> 
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-info" (click)="buscar()">Buscar</button>
                </div>
            </div>

        </div>
    </div>