
<!-- --------------- card si NO es mobile-----------------  -->
<div *ngIf="!mobile || tablet" widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">

        <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        </div>

        
    </div>
    <div class="card-body widget-body">

        <p-toolbar>
            <div class="ui-toolbar-group-left mr-2">
                <h5 class="mb-0 tm-f-16">
                    {{tituloReporte}}
                </h5>
            </div>
            <div class="ui-toolbar-group-right">
                <p-button icon="pi pi-file-pdf" (click)="exportPDF($event)" styleClass="p-button-danger p-button-sm"></p-button>
                <p-button icon="pi pi-file-excel"  (click)="exportExcel($event)" styleClass="p-button-success p-button-sm"></p-button>
                <p-button icon="pi pi-refresh" title="Refrescar" (click)="refrescar($event)" styleClass="p-button-warning p-button-sm"></p-button>
                <p-button *ngIf="menu===false" title="ver los filtros del Tabular" icon="pi pi-filter" title="Refrescar" (click)="verFiltros()" styleClass="p-button-help p-button-sm"></p-button>
                <p-button *ngIf="menu===false" icon="pi pi-chevron-left" title="volver pantalla anterior" (click)="backHistorico()" styleClass="p-button-danger p-button-sm"></p-button>
            </div>

            <div class="ui-toolbar-group-right">
                <div *ngIf="tabular.botones" class="card-body pt-0 widget-body">
                    <div class="row d-blockA">
                        <div *ngFor="let field of tabular.botones">
                            <app-button [field]="field" (acciones)="processActions($event)"></app-button>
                        </div>
                    </div>
                </div>
            </div>
        </p-toolbar>

        <br>

        <div class="containerX d-none d-sm-block">
            <div class="row">
                <div [ngClass]="tabular.tabularDescriptivo == true ? 'table-responsive col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-12' : 'table-responsive'">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" (click)="mostrarFiltros()">
                        <label class="form-check-label d-inline-flex" for="defaultCheck1">
                                         {{texto_filtro}}
                                </label> &nbsp;&nbsp;&nbsp;

                        <label *ngIf="contadorFiltro > 0" class="form-check-label d-inline-flex" for="defaultCheck2">
                                    {{contadorFiltro}} elementos encontrados
                                </label>&nbsp;&nbsp;&nbsp;

                    </div>
                    <div class='table-cont' id='table-cont' (scroll)="desplazaScrollVertical($event)" [ngStyle]="{ 'height.px': altoVentana/2.5,'position':'relative'}">
                        <table class="table table-responsive table-striped table-hover" [ngStyle]="this.pagination.listaPaginacion.length == 0 ? {'display':'inline-table'}:{'display':''}">
                            <thead id="idTh1">
                                <tr [ngStyle]="{'background-color':'#f3f3f3','color':'black'}">
                                    <button *ngIf="tabularABM===true && tabular.permisoDTO.nueva" pButton type="button" title="Nuevo" icon="fa fa-plus" class="mt-6 dl6deanpx ui-button-" (click)="nuevoAbm()"></button>
                                    <th *ngIf="tabular.seleccionMultiple">
                                        <input type="checkbox" [checked]="estaActivo" name="chbTodo" id="chbTodo" (click)="chequeaTodo(estaActivo)" [ngStyle]="{'cursor':'pointer'}">
                                    </th>
                                    <div class="clflex d-inline-flex" *ngIf="this.pagination.listaPaginacion.length !== 0">
                                        <div *ngIf="this.tabularABM && this.tabular.permisoDTO.edit" class="cldib1"></div>
                                        <div *ngIf="this.tabularABM && this.tabular.permisoDTO.delete" class="cldib2"></div>
                                    </div>
                                    <th [ngStyle]="col.visible == false ? {'display':'none'}:{'display':'','cursor':'pointer','left':'io.px','position':'relative'}" (click)="pagination.sortType = col.title; pagination.sortReverse = !pagination.sortReverse; muestraRombos($event); ordenarColumna($event,col.title,pagination.page,pagination.sortReverse,pagination.listaPaginacion[0],io);"
                                        *ngFor="let col of header; let io = index" class="clindas{{io}}">
                                        {{col.title}}
                                        <img id="idnumim{{io}}" [ngClass]="'cl-muestra-th'" src="assets/img/tabla/orden_ambos.png" alt="orden de ambos">

                                        <img id="idserim{{io}}" *ngIf="pagination.sortType === col.title && !pagination.sortReverse" src="assets/img/tabla/orden_asc.png" alt="orden ascendente">
                                        <img id="idgerim{{io}}" *ngIf="pagination.sortType === col.title && pagination.sortReverse" src="assets/img/tabla/orden_desc.png" alt="orden descendente">
                                    </th>
                                </tr>
                                <tr *ngIf="mostrarFiltro" [ngStyle]="{'background-color':'#f3f3f3','color':'black'}">
                                    <div class="clflex d-inline-flex" *ngIf="this.pagination.listaPaginacion.length !== 0">
                                        <div *ngIf="this.tabularABM && this.tabular.permisoDTO.edit" class="cldib1"></div>
                                        <div *ngIf="this.tabularABM && this.tabular.permisoDTO.delete" class="cldib2"></div>
                                    </div>
                                    <th [ngStyle]="col.visible == false ? {'display':'none'}:{'display':'','cursor':'pointer'}" (click)="pagination.sortType = col.title; pagination.sortReverse = !pagination.sortReverse; ordenarColumna($event,col.title,pagination.page,pagination.sortReverse,pagination.listaPaginacion[0],io);"
                                        *ngFor="let col of header; let io = index" [ngClass]="'pt-0'">
                                        <input id="idcomli{{io}}" type="text" [ngStyle]="{'width':'100%','height':'50%'}" [ngClass]="'form-control'" (click)="desapareceRombo($event)" (keyup)="buscaDentroTabla($event)" type="text">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let fil of pagination.listaPaginacion"  [ngClass]="'cl-filsese'" (click)="clickFilaTabular2($event,fil)">
                                    <td *ngIf="tabular.seleccionMultiple">
                                        <input type="checkbox" name="chbTodo" id="chbTodo" (click)=chequeaFila(fil,false) [checked]="fil.chequeado" [ngStyle]="{'cursor':'pointer'}">
                                    </td>
                                    <div class="clflexSegundo">
                                        <div *ngIf="this.tabularABM && this.tabular.permisoDTO.edit" style="text-align: center;cursor: pointer;" class="cldib1" (click)="onEdit(fil)"><span class="tm-f-150 fa fa-edit fa-lg btn-outline-success" aria-hidden="true" title="modificar registro" alt="modificar registro"></span></div>
                                        <div *ngIf="this.tabularABM && this.tabular.permisoDTO.delete" style="text-align: center;cursor: pointer;" class="cldib2" (click)="onDelete(fil)"><span class="tm-f-150 fa fa-trash fa-lg btn-outline-danger" aria-hidden="true" title="eliminar registro" alt="eliminar registro"></span></div>
                                    </div>
                                    <td [ngStyle]="col.visible == false ? {'display':'none'}:{'display':''}" [title]="col.comentario" [ngClass]="col.link || col.linkDina  == true ? 'btn-outline-primary' : ''" (click)="clickLinkTabular($event,col,fil)"
                                        *ngFor="let col of header; index as i">
                                        <b *ngIf="col.download==true && fil[col.name]">                                                
                                                            
                                                            <i class="fa fa-download" style="text-align: center;cursor: pointer;" title="download archivo" alt="download archivo" aria-hidden="true" (click) = "downloadFile(col, fil)"></i>
                                                        </b>
                                        <b *ngIf="col.download == false && !col.fontAwesoneIcono && !col.linkOtherTab">{{fil[col.name]}}</b>
                                        <b *ngIf="col.download==false && col.fontAwesoneIcono && col.link==true ">
                                                        <i class="tm-f-150 {{col.fontAwesoneIcono}}"></i>
                                        </b>

                                        <b *ngIf="col.linkOtherTab==true">
                                              <div *ngIf='fil[col.name]'>
                                                                    
                                                <button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" (click)="abreelModal(fil[col.name])">
                                                      <i class="tm-f-150 {{col.fontAwesoneIcono}}" aria-hidden="true"></i>
                                                </button>
                                                                 
                                                </div>
                                        </b>
                                    </td>
                                </tr>
                            </tbody>

                            <tfoot id="idTF1 " *ngIf="tabular.footer ">
                                <tr>
                                    <td>
                                        Totales:
                                    </td>

                                    <td *ngFor="let coluu of header; " [ngStyle]="coluu.visible==false ? { 'display': 'none'}:{ 'display': '', 'cursor': 'pointer'} ">
                                        {{coluu.total}}
                                    </td>

                                </tr>
                            </tfoot>

                        </table>
                    </div>

                    <hr>
                    <div class="text-center " style="display:block; " *ngIf="!this.sinpaginar">
                        <ngb-pagination class="d-flex justify-content-center cl-pagina " *ngIf=pagination.activa [collectionSize]="tabular.data.length" [(page)]="pagination.page " [maxSize]="pagination.maxBotones " [pageSize]="pagination.cantidadRegistrosxPagina
                                                    " [boundaryLinks]="true " (pageChange)="loadPage($event) " [boundaryLinks]="false "></ngb-pagination>
                    </div>
                    <form *ngIf="!this.sinpaginar">
                        <div class="form-group col-md-3 text-left " style="display: inline; ">
                            Mostrar
                            <select name="noRegistroMostrar " id="noRegistroMostrar " (click)="muestraCantidadPorPaginayPagina(pagination.page,$event) ">
                                            <option value="10 ">10</option> 
                                            <option value="20 ">20</option> 
                                            <option value="25 ">25</option> 
                                            <option value="50 ">50</option> 
                                            <option value="50 ">100</option> 
                            </select>registros
                        </div>
                    </form>

                </div>

                <div id="cuadro-con-der" class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-12 pt-4" *ngIf="tabular.tabularDescriptivo">
                    <div class="card" [ngStyle]="{ 'height.px': altoVentana/2.5}">
                        <div class="card-header ">
                            <b>Por favor seleccione un registro para ver más detalles</b>
                        </div>
                        <div class="card-body " #dataContainer [ngStyle]="{ 'height': 'auto', 'overflow': 'auto', 'white-space': 'pre-line'} "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- --------------- card si ES mobile--------------------  -->
<div *ngIf="mobile && !tablet"  widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">

        <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
        </div>

        
    </div>
    <div class="card-body widget-body">

        <p-toolbar>
            <div class="ui-toolbar-group-left mr-2">
                <h5 class="mb-0 tm-f-16">
                    {{tituloReporte}}
                </h5>
            </div>
            <div class="ui-toolbar-group-right">
                <p-button *ngIf="menu===false" title="volver pantalla anterior" (click)="backHistorico()" styleClass="p-button-info p-button-sm">Ir Atrás</p-button>
            </div>
            <div class="container-fluid">
                <div *ngIf="tabular.botones" class="grid-r-1fr">
                    <div class="row grid-r-1fr">
                        <div class="grid-r-1fr" *ngFor="let field of tabular.botones">
                            <app-button [field]="field" (acciones)="processActions($event)"></app-button>
                        </div>
                    </div>
                </div>
            </div>
        </p-toolbar>

        <br>


        <div (click)="setPopupfalse()" class="containerX">
            <div class="row">
                <div class="table-responsive col-xl-7 col-lg-7 col-md-7 col-sm-7 col-xs-12">

                    <div class="contenedor">
                        <!-- Cards mobile--------------------- -->
                        <div *ngFor="let fil of pagination.listaPaginacion; index as i" class="card">
                            <h2>{{fil[header[1].name]}}</h2>
                            <span class="separador"></span>
                            <div class="contenedor-text">
                                <div [ngStyle]="!col.visibleMovil ? {'display':'none'}:{'display':''}" *ngFor="let col of header; let io = index">
                                    <span style="font-weight: 600;">{{col.title}}: </span> <span *ngIf="col.download == false && !col.fontAwesoneIcono && !col.linkOtherTab">{{fil[col.name]}}</span>
                                </div>
                            </div>
                            <div class="btns" *ngIf="this.pagination.listaPaginacion.length !== 0">
                                <button *ngIf="this.tabular.tabularDescriptivo" class="btn-extra" (click)="loaderBtn(i); clickLinkTabularMobile($event,header,fil,i)"><span id="ver{{i}}" class="ver">Ver</span><span id="load{{i}}" style="display: none;" class="loader load"></span></button>
                                <!-- <button *ngIf="fil[col.link]" class="btn-extra" (click)="clickLinkTabularMobile($event,col,fil)">Seleccionar</button> -->
                                <button *ngIf="this.tabularABM && this.tabular.permisoDTO.edit"  class="btn-edit" (click)="onEdit(fil)">Editar</button>
                                <button *ngIf="this.tabularABM && this.tabular.permisoDTO.delete" class="btn-eliminar" (click)="onDelete(fil)">Eliminar</button>
                            </div>
                        </div>
                        <button *ngIf="tabularABM===true && tabular.permisoDTO.nueva" type="button" title="Nuevo" class="btn-agregar" (click)="nuevoAbm()"><span *ngIf="!loader">+</span><span *ngIf="loader" class="loader"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="popup ? 'popupContainer popupShow' : 'popupContainer'">
            <div class="headerPopup">Detalle</div><label type="button"(click)="setPopupfalse()">x</label>
        <div class="popup" #dataContainerMobile></div>
    </div>
</div>

<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div [innerHTML]="mensaje"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>