.modal-header{
    display: flex;
    position: sticky;
    width: auto;
    background: #fff;
    top: 0;
    z-index: 999;
}
.fila-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: white;
    border-bottom: 1px solid #bcdbfa88;
    padding: 10px;
    padding-top: 10px;
    &:hover{
        background: #ced4da;
    }
    .tittle {
        display: flex;
        gap: 5px;

        h3 {
            color: #333;
            font-size: 15px;
            line-height: 1;
        }
    }

    p {
        color: #555555;
        font-size: 10px;
        padding: 0;
        margin: 0;
        line-height: 1;

    }

}