<div [formGroup]="form">
    <div class="row" *ngIf="!mobile">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

            <div class="input-group">
                <label class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-1 tm-f-bugt pl-0">{{field.label}}: 
                    <strong class=" text-danger " *ngIf="field.require ">*</strong>
               </label>
                <input type="text " class="form-control cl-dtx-tl " [id]="field.name " [name]="field.name " [formControlName]="field.name " (keydown.enter)="buscar($event) ">
                <span class="input-group-btn mr-3 ">
                    <button class="btn btn-info " type="button " (click)="buscar($event) ">
                        <i class="fa fa-search "></i> 
                    </button>
                    <button class="btn btn-danger " type="button " (click)="borrar($event) ">
                        <i class="fa fa-eraser "></i> 
                    </button>
                </span>
                <input type="text " class="form-control cl-dtx-tl mr-3 " id="field.nameRes " placeholder [formControlName]="field.nameRes ">

            </div>
        </div>
        <!-- /input-group -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="row" *ngIf="mobile">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

            <div class="input-group input-group-mobile">
                <label class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-1 tm-f-bugt pl-0">{{field.label}}: 
                    <strong class=" text-danger " *ngIf="field.require ">*</strong>
               </label>
                <input type="text " class="form-control cl-dtx-tl input-1" [id]="field.name " [name]="field.name " [formControlName]="field.name " (keydown.enter)="buscar($event) ">
                <span class="input-group-btn mr-3 ">
                    <button class="btn btn-info " type="button " (click)="buscar($event) ">
                        <i class="fa fa-search "></i> 
                    </button>
                    <button class="btn btn-danger " type="button " (click)="borrar($event) ">
                        <i class="fa fa-eraser "></i> 
                    </button>
                </span>
                <input type="text " class="form-control cl-dtx-tl mr-3 input-2" id="field.nameRes " placeholder [formControlName]="field.nameRes ">
            </div>
        </div>
        <!-- /input-group -->
    </div>
</div>
<!-- /.row -->


<!-- /.col-lg-6 -->
<!-- /.row -->