@import "../theme/styles/variables";

.breadcrumb {
    background-color: #ffffff;
}

.ig {
    display: flex;
    width: 100%;
    padding: 10px;
    padding-left: 0;

    button {
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 35px;
    }

    .input-1,
    .input-2 {
        border-radius: 4px 0 0 4px;
        border: 1px solid #ced4da;
        padding: 10px;
        height: $field-height;
        color: #333;
        // width: 20%;
        width: $field-width - 4.3vw;

        &:focus,
        :active {
            border: 1px solid #333;
            outline: none;
        }
    }

    .input-1 {
        // width: 20vw;
        margin-left: $field-margin-correct-left;
    }

    .input-2 {
        background-color: rgba(71, 71, 71, 0.1);
        pointer-events: none;
        // width: $field-width;
        // margin-left: 10px;
    }

    .btn-1,
    .btn-2 {
        i {
            margin-right: 3px;
        }
    }
}
.alternativo{
    .input-2{
        order:4;
        border-radius: 0 4px 4px 0;
        margin-left: 0;
    }
    .btn-2{
        order: 3;
        border-radius: 4px 0 0 4px !important;
        margin-left: 10px;
    }
}

.ig-mobile {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 85vw;
    .lab{
        width: 15vw;
        text-wrap: nowrap;
    }
    .input-1, .input-2 {
        width: 100%;
        grid-column: 1/10;
        margin-left: 0;
    }
    .btn-1, .btn-2{
        width: 13vw;
        grid-column: 10/13;
    }
}