@import "../theme/styles/_constantes.scss";
.btn-wrapper {
    .btn {
        margin-left: 15px;
    }
}

.btn-wrapper-mobile {
    display: flex;
    justify-content: center;
    width: 100%;
    .btn {
        width: 100%;
        text-align: center;
        align-items: center;
        margin-top: 3vw;
        font-size: 4vw;
        border-radius: 4px;
        // padding: 3vw;
    }
    @include fieldsize();
}