.btn-wrapper {
    .btn {
        margin-left: 15px;
    }
}

.btn-wrapper-mobile {
    display: flex;
    width: 100%;
    .btn {
        width: 100%;
        text-align: center;
        align-items: center;
        margin-bottom: 2.5vw;
        font-size: 4vw;
        padding: 3vw;
    }
}