@import "../theme/styles/_variables.scss";
.row{
    @include padArribaAbajo;
}
.textBox{
    height: 35px;
    min-height: 35px;
    width: $field-width;
    min-width: $field-width;
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 5px 10px;
    margin-left: $field-margin-correct-left;
    &:focus, :active{
        border: 1px solid #333;
        outline: none;
    }
    &:disabled, :read-only{
        background: #e9ecef;
        border: none;
    }
}
.mobile{
    width: $field-mobile-width;
}