@import "../theme/styles/constantes";
.row{
    @include padArribaAbajo;
}
textarea{
    height: 35px;
    min-height: 35px;
    width: $field-width;
    min-width: $field-width;
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 5px 10px;
    resize: vertical;
    margin-left: $field-margin-correct-left;
    &:focus, :active{
        border: 1px solid #333;
        outline: none;
    }
}
@include fieldsize();
.mobile{
    width: $field-mobile-width;
}