<div class="dropdown d-inline-block">
    <a class="dropdown-toggle no-caret pl-2 pr-2" id="applications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-th" aria-hidden="true"></i>
    </a>

    <div class="dropdown-menu dropdown-menu-right rounded-0 mt-3 box-shadow" aria-labelledby="applications">
        <div class="applications text-center pt-1" perfectScrollbar>
            <h5>Applications</h5>
            <hr>
            <div class="row">
    
            </div>
        </div>
    </div>
</div>