<div [formGroup]="form">
   <div class="row">
      <div class="col-12">
         <div [ngClass]="EMS.esMobileNoTablet() ? 'input-group file-upload fu-mobile': 'input-group file-upload'">
            <label class="col-xs-2 col-sm-2 col-md-4 col-lg-2 col-xl-1 tm-f-bugt pl-0">{{field.label}}:
               <strong class="text-danger" *ngIf="field.require">*</strong>
            </label>
            <div class="d-flex upload-container" style="position: relative;">
               <input type="file" [formControlName]="field.name" (change)="fileChange(input)" #input class="file-upload-btn">
               <input type="text" class="form-control" placeholder="Seleccione un archivo..." value="{{file}}">
               <i class="fa fa-times delete-file" (click)="removeFile()" *ngIf="file"></i>
               <span class="input-group-append">
                  <button class="btn btn-primary" type="button"><i class="fa fa-upload"></i></button>
               </span>
            </div>
         </div>
      </div>
   </div>

   <!-- -------MOBILE--------- -->
   <!-- <div class="row" *ngIf="mobile && !tablet">
      <div class="col-12">
         <div class="input-group file-upload fu-mobile">
            <label class="col-xs-2 col-sm-2 col-md-4 col-lg-2 col-xl-1 tm-f-bugt pl-0">{{field.label}}:
               <strong class="text-danger" *ngIf="field.require">*</strong>
            </label>
            <div class="d-flex upload-container" style="position: relative;">
               <input type="file" [formControlName]="field.name" (change)="fileChange(input)" #input class="file-upload-btn">
               <input type="text" class="form-control" placeholder="Seleccione un archivo..." value="{{file}}">
               <i class="fa fa-times delete-file" (click)="removeFile()" *ngIf="file"></i>
               <span class="input-group-append">
                  <button class="btn btn-primary" type="button"><i class="fa fa-upload"></i></button>
               </span>
            </div>
         </div>
      </div>
   </div>
</div> -->