@import "../../theme/styles/variables";
.file-upload{
    .btn-primary{
        border-radius: 0 4px 4px 0;
        height: 35px;
    }
    input{
        height: 35px;
    }
    .upload-container:hover .file-upload-btn{
        cursor: pointer;
    }
    .upload-container{
        width: $field-width;
    }
    .file-upload-btn{
        position: absolute;
        width: 100%;
        height: 35px;
        z-index: 9;
        opacity: 0;
        cursor: pointer !important;
    }
    .delete-file{
        position: absolute;
        right: 50px;
        top: 8px;
        font-size: 16px;
        opacity: .8;
        cursor: pointer;
        z-index: 99;
        visibility: hidden;
    }
    &:hover .delete-file{
        visibility: visible;
    }
}
.fu-mobile{
    .upload-container{
        width: 76vw;
    }
}
.row{
    @include padArribaAbajo;
}