
<div class="app-footer d-flex align-items-center justify-content-between" [class.fixed-bottom]="settings.theme.footerIsFixed">
    <span class="copyright">Copyright © SFS -- Version: {{version}}</span>
</div>
<p-dialog [(visible)]="lineaActiva" header="Consulta en linea" [modal]="true" [responsive]="true" [maximizable]="true" [baseZIndex]="10000">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="consultaForm" (ngSubmit)="mandarMensaje()">
                    <div class="form-group">
                        <label>Por favor, describa brevemente su consulta: *</label>
                        <textarea name="consulta" formControlName="consulta" id="cons" #cons rows="7" class="form-control tm-f-bugt" [ngClass]="{ 'is-invalid': submitted && f.consulta.errors }"></textarea>
                        <label>Prioridad</label>
                        <select class="form-control tm-f-bugt" id="prioridad" name="prioridad" formControlName="prioridad"> 
                                <option  value="baja">baja</option>
                                <option  value="media">media</option>
                                <option  value="alta">alta</option>
                         </select>

                        <div *ngIf="submitted && f.consulta.errors" class="invalid-feedback">
                            <div *ngIf="f.consulta.errors.required">no puede dejar este campo vacio</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        //buttons
        <button type="button" class="btn btn-outline-primary w-100p mb-1 mr-1" (click)="mandarMensaje()">Aceptar</button>
        <button type="button" class="btn btn-outline-secondary w-100p mb-1 mr-1" (click)="lineaActiva=false">Cerrar</button>
    </ng-template>

</p-dialog>