<div class="d-flex justify-content-center align-items-center w-100 h-100 error-container">
    <div class="col-xl-4 col-md-6 col-lg-8">
        <div class="card border-0 box-shadow rounded-0">
            <div class="card-header d-flex justify-content-center align-items-center border-0 box-shadow">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            </div>
            <div class="card-body text-center">

                <h1 class="display-1">Error</h1>
                <h6 class="card-title">Parametros Globales no inicializados, vuelva a loguearse.</h6>
                <a routerLink="/" class="transition">Login!</a>
            </div>
        </div>
    </div>
</div>