<app-infoarea *ngIf="dataReportdefAux.mostrarInfoArea"></app-infoarea>
<div class="pb-1">
    <app-tabularfinder *ngIf="dataReportdefAux.tabularAbm && cargadoABM && showABMFilter" [busquedaAlmacenada]=busquedaAlmacenada [campos]=campos (find)="processFind($event)"></app-tabularfinder>
</div>
<app-tabular *ngIf="dataReportdefAux.tabularAbm" [pagination]="pagination" [listRequest]=listRequest [menu]=dataReportdefAux.menu [tabular]=tabular [tabularABM]=true (editaABM)="editarABM($event)" (refresh)="processRefreshTabular($event)" (generarExcel)="generarExcel($event)"
    [data]=dataTabular [reporte]=reporte [vista]=vista [header]=header (backHistory)="backHistory($event)" (acciones)="processActions($event)"></app-tabular>
<app-formulario *ngIf="dataReportdefAux.form && dataReportdefAux.cargando === false" (backHistory)="backHistory($event)" [labelForm]="labelReporte" [data]=formRepordef [reporte]=reporte [menu]=dataReportdefAux.menu (acciones)="processActions($event) "
    [tipoReporte]="dataReportdefAux" (editarOrAltaAbm)="editarOrAltaAbm($event)" (accionesDina)="processActionsDina($event) "></app-formulario>
<app-tabular *ngIf=" dataReportdefAux.tabular " [header]=header [pagination]="pagination " [listRequest]=listRequest [menu]=dataReportdefAux.menu [tabular]=tabular [tabularABM]=false [data]=dataTabular [reporte]=reporte [vista]=vista (backHistory)="backHistory($event) "
    (acciones)="processActions($event) "  (refresh)="processRefreshTabular($event) "></app-tabular>
<app-formulario *ngIf="dataReportdefAux.formAbmNew && !dataReportdefAux.formHijo " [labelForm]="labelReporte " (backHistory)="backHistory($event) " [data]=formRepordef [reporte]=labelReporte (accionesDina)="processActionsDina($event) " (acciones)="processActions($event) "
    [tipoReporte]="dataReportdefAux " (editarOrAltaAbm)="editarOrAltaAbm($event)"></app-formulario>
<app-formulario *ngIf="dataReportdefAux.formAbmEdit && !dataReportdefAux.formHijo " [labelForm]="labelReporte " (backHistory)="backHistory($event) " [data]=formRepordef [reporte]=reporte (acciones)="processActions($event)
    " [tipoReporte]="dataReportdefAux " (editarOrAltaAbm)="editarOrAltaAbm($event)"></app-formulario>
<app-formulario *ngIf="dataReportdefAux.formHijo " (backHistory)="backHistory($event) " [abmParams]="abmParams " [labelForm]="labelReporte " [dataTabular]="dataTabular " [dataHijos]="dataHijos " [data]=formRepordef [reporte]=reporte (acciones)="processActions($event) "
    [settings]="settings " [tipoReporte]="dataReportdefAux " (editarOrAltaAbm)="editarOrAltaAbm($event)"></app-formulario>
<app-cargando *ngIf="dataReportdefAux.cargando "></app-cargando>