<div class="contenedor">
    <div class="card-menu" *ngFor="let items of menu">
        <div *ngIf="items.idMenuPadre == 0" class="card">
            <h2 (click)="getRouter(items.ejecutar)">{{items.descripcion}}</h2>
            <ng-container *ngIf="items.submenu">
                <div *ngFor="let submenuItem of menu">
                    <ng-container *ngIf="submenuItem.idMenuPadre === items.idMenu">
                        <p (click)="getRouter(submenuItem.ejecutar)">{{submenuItem.descripcion}}</p>
                    </ng-container>
                </div>
            </ng-container>

        </div>
    </div>
</div>